*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  background-color: #f2f2f2;
}

#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}

button:hover {
  cursor: pointer;
}

/*================================================================
              BOARD
================================================================*/

.board {
  height: min(133.33vw, 80vh);
  width: min(100vw, 60vh);
  border: 1px solid black;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-image: url('/images/Map-01.png');
  background-size: 100%;
  background-position: bottom;

}

.ui {
  height: min(133.33vw, 80vh);
  width: min(100vw, 60vh);
  border: 1px solid black;

}

.line {
  display: flex;
}

.square:hover {
  cursor: pointer;
}

.square {
  width: calc(min(100vw, 60vh) / 12);
  height: 2.2vh;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.red {
  background-color: #D22222;
}

.taxi.red {
  background-color: #b81919;
}

.color-red {
  color: #b81919;
}

.green {
  background-color: #80DE2D;
}

.taxi.green {
  background-color: #559b19;
}

.color-green {
  color: #559b19;
}

.black {
  background-color: #333;
}

.blue {
  background-color: #33A3DA;
}

.taxi.blue {
  background-color: #1d7baa;
}

.color-blue {
  color: #1d7baa;
}

.orange {
  background-color: #E6C41C;
}
.pink {
  background-color: #EFAED7;
}
.grey {
  background-color: #bbb;
}

.wild {
  background-color: thistle;
}

.yellow {
  background-color: rgb(230, 217, 43);
}

.color-yellow {
  color: rgb(230, 217, 43);
}

.deck {
  background-color: #555;
}

.taxi {
  width: 80%;
  height: 80%; 
  border: 2px solid #fff;
  border-radius: 5px 50% 50% 5px;
}

.hovered-taxi {
  width: 80%;
  height: 80%; 
  border: 1px solid black;
  opacity: 0.6;
}
