#root {
  width: 100%;
  text-align: center;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/*================================================================
              BOARD
================================================================*/

.board {
  height: min(133.33vw, 80vh);
  width: min(100vw, 60vh);
  border: 1px solid black;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-image: url('/images/Map-01.png');
  background-size: 100%;
  background-position: bottom;

}

.ui {
  height: min(133.33vw, 80vh);
  width: min(100vw, 60vh);
  border: 1px solid black;

}

.line {
  display: flex;
}

.square:hover {
  cursor: pointer;
}

.square {
  width: calc(min(100vw, 60vh) / 12);
  height: 2.2vh;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.red {
  background-color: #D22222;
}

.green {
  background-color: #80DE2D;
}

.black {
  background-color: #333;
}

.blue {
  background-color: #33A3DA;
}

.orange {
  background-color: #E6C41C;
}
.pink {
  background-color: #EFAED7;
}
.grey {
  background-color: #bbb;
}

.wild {
  background-color: thistle;
}

.deck {
  background-color: #555;
}

.taxi {
  width: 80%;
  height: 80%; 
  border: 1px solid black;
}

.hovered-taxi {
  width: 80%;
  height: 80%; 
  border: 1px solid black;
  opacity: 0.6;
}