<<<<<<< HEAD
/* LINCOLN CENTER */
.token-0 {
    top: 2%;
    left: 20%;
}
/* CENTRAL */
.token-1 {
    top: .7%;
    left: 45%;
}
/* MID */
.token-2 {
    top: 22%;
    left: 18%;
=======
.token {
    position: absolute;
    color: #FFF;
    font-weight: bolder;
    font-family: sans-serif;
    background: linear-gradient(rgb(226, 165, 33) 21%, rgba(162,129,38,1));
    width: calc(80vh / 20);
    height: calc(80vh / 20);
    border: 1px solid rgb(124, 99, 31);
    border-radius: 50%;
  
    display: flex;
    place-items: center;
    justify-content: center;
    z-index: 1;
  }
  

/* LINCOLN CENTER */
.token-0 {
    top: 4%;
    left: 12%;
}
/* CENTRAL */
.token-1 {
    top: 2%;
    left: 44%;
}
/* MID */
.token-2 {
    top: 23%;
    left: 12%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
}
/* TIMES */
.token-3 {
    top: 18%;
<<<<<<< HEAD
    left: 35%;
}
/* UN */
.token-4 {
    top: 18%;
    left: 65%;
}
/* CHELSEA */
.token-5 {
    top: 42%;
    left: 22%;
=======
    left: 30%;
}
/* UN */
.token-4 {
    top: 15%;
    left: 63%;
}
/* CHELSEA */
.token-5 {
    top: 40%;
    left: 18%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
}
/* EMPIRE */
.token-6 {
    top: 30%;
<<<<<<< HEAD
    left: 42%;
}
/* GRAMERCY */
.token-7 {
    top: 40.5%;
    left: 52%;
=======
    left: 43%;
}
/* GRAMERCY */
.token-7 {
    top: 40%;
    left: 56%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
}
/* GREENWICH */
.token-8 {
    top: 56%;
<<<<<<< HEAD
    left: 47%;
}
/* EAST VILLAGE */
.token-9 {
    top: 55%;
    left: 72%;
}
/* SOHO */
.token-10 {
    top: 70%;
    left: 34%;
=======
    left: 49%;
}
/* EAST VILLAGE */
.token-9 {
    top: 56%;
    left: 80%;
}
/* SOHO */
.token-10 {
    top: 72%;
    left: 32%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
}
/* CHINATOWN */
.token-11 {
    top: 76%;
<<<<<<< HEAD
    left: 52%;
=======
    left: 55%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
}
/* LOWER EAST SIDE */
.token-12 {
    top: 70%;
<<<<<<< HEAD
    left: 70%;
}
/* WALL */
.token-13 {
    top: 92%;
=======
    left: 74%;
}
/* WALL */
.token-13 {
    top: 90%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
    left: 48%;
}
/* BROOKLYN */
.token-14 {
<<<<<<< HEAD
    top: 91%;
    left: 85%;
=======
    top: 92%;
    left: 86%;
>>>>>>> 3b710aa6baaa21a23a121676fbd4a32625a6572e
}

.quarter {
    width: 50%;
    height: 50%;
    border: 1px solid red;
    box-sizing: border-box;
}