.ui {
    background-color: burlywood;
}

.cards-area {
    height: 20%;
    /* background-color: red; */
}

.cards-area button:hover,
.ready-btn button:hover {
    font-weight: bolder;
    cursor: pointer;
    border: 2px solid #333;
}

.cards-area button {
    width: 200px;
    height: 50px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1.4em;
    margin-top: 30px;
    border: none;
    border-radius: 3px;
}

.ui h2 {
    height: 10%;
}

.hand-container {
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
}

/* ==============================================================================================================
        DESTINATION CARDS
 ============================================================================================================== */

.ui-d-list {
    list-style: none;
    width: 100%;
    height: 25%;
    padding: 0 10px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
}

.ui-d-list li {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* overflow: hidden; */
}

.ui-d-list li div:first-child {
    width: 90%;
    height: 80%;

    margin: 0 auto;
    padding: 5px 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 2px solid #ddd;
    background-color: rgb(106, 165, 233);
    border-radius: 5px;
    position: relative;
    cursor: default;
}

.ui-d-list div:first-child p {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    font-size: 0.9em;
    color: #222;
    font-weight: bolder;
}

.ui-d-list li div:first-child span {
    text-align: center;
    margin: auto;
}

.ui-d-list li div:first-child span.points {
    margin-top: auto;
    font-size: 2em;
    color: white;
}

.ui-d-list button {
    width: 90%;
    margin: 3px;
    /* padding: 3px 0; */
    border-radius: 3px;
    color: #333;
    /* font-size: 1.1em; */
    border: none;
}

.ui-d-list li.possible-d div.dCard-buttons {
    display: flex;
    /* font-size: .6em; */
}

.ui-d-list .possible-d {
    display: block;
}

.possible-d button {
    width: 45%;
}

.points-taxis {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
    padding: 10px;
}

.points-taxis button:hover {
    background-color: #333;
    color: #f2f2f2;
    border: 2px solid white;
}

.points-taxis button {
    background-color: #f2f2f2;
    border: none;
    width: 15%;
    height: 50px;
    border-radius: 5px;
    font-size: 1.4em;
    transition: all 200ms ease;
}

.dCard-more {
    width: 30%;
    height: 100%;
}

.dCard-more button {
    width: 100%;
    height: 100%;
    margin-left: auto;

    border: 2px solid white;
    border-radius: 5px;
    background-color: rgb(200, 221, 245);
    color: #222;  
    font-size: 1.2em;
    font-weight: bolder;
    cursor: pointer;

}

.taxi-icon {
    width: 50px;
    border-radius: 5px;
    
}

.my-taxis {
    display: flex;
    align-items: center;
    font-size: 2em;
    font-weight: bolder;
}

.my-taxis .taxi {
    height: 60px;
    width: 40px;
    border-radius: 50% 50% 5px 5px;
    margin-right: 10px;
}

.my-points {
    display: flex;
    flex-direction: column;
}

.my-points span {
    font-size: 4em;
    font-weight: bolder;
}

.ready-btn {
    flex: 1;
    display: flex;
    justify-content: center;
}

.ready-btn button {
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 1.2em;
}
/* ==================================================================================================
    OTHER UI
================================================================================================== */

.other-ui {
    height: 10%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    margin: 0;
    padding: 0;
}

.other-ui li {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: bolder;
    border-top: 2px solid #333;
    border-right: 2px solid #333;
}

.other-ui li:nth-child(3) {
    border-right: none
}

.other-ui li > div {
    height: 70%;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 400;
    position: relative;
}

.other-ui li > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.taxi.symbol {
    width: 15px;
    height: 30px;
    margin-right: 3px;
    border-radius: 50% 50% 5px 5px;
}

.card-symbol {
    margin-right: 4px;
    width: 20px;
    height: 30px;
    background-color: #555;
    color: white;
    border: 2px solid white;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.dest {
    background-color: rgb(106, 165, 233);
  }

  .other-ui li > div > div:hover .card-hover,
  .ui-d-list li div:hover .dcard-hover {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.7);
    width: 200px;
    padding: 20px;
    top: 100%;
    left: 0;
    border: 1px solid #333;
    display: block;
}

.card-hover,
.dcard-hover {
    display: none;
}