.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*================================================================
              BOARD
================================================================*/

.board {
  height: min(133.33vw, 80vh);
  width: min(100vw, 60vh);
  border: 1px solid black;

  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-image: url('/images/map.png');
  background-size: 105%;

}

.board::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ddd;
  opacity: .5;
  z-index: 0;
}

.token {
  position: absolute;
  color: #FFF;
  font-weight: bolder;
  font-family: sans-serif;
  background: linear-gradient(rgb(226, 165, 33) 21%, rgba(162,129,38,1));
  width: 5%;
  /* height: calc(80vw / 22); */
  border: 1px solid white;
  border-radius: 50%;

  display: flex;
  place-items: center;
  justify-content: center;
  font-size: 100%
}
.token::after {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.line {
  display: flex;
}

.square {
  width: calc(min(100vw, 60vh) / 12);
  height: 2.2vh;
  border: 1px solid white;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.black {
  background-color: #333;
}

.blue {
  background-color: blue;
}

.orange {
  background-color: orange;
}
.pink {
  background-color: pink;
}
.grey {
  background-color: #bbb;
}

.taxi {
  width: 80%;
  height: 80%; 
}
